<ion-view title="Parking" id="parking">
    <ion-content padding="" class="has-header black" ng-init="initialize()">
        <div class="animated slideInDown">
            <div class="app-item-banner">
                <div>
                    <img class="app-item-banner-image" src="img/parking.png">
                </div>
                <h4 class="app-item-banner-subheading">Parking space or car park, also known as a car lot, is a cleared area that is intended for parking vehicles.</h4>
            </div>
        </div>
        <div class="animated slideInUp">
            <ion-item class="item-icon-right app-item cyan" style="padding-top:20px;padding-bottom:20px;">
                <h2>Parking Space</h2>
                <p>Tap the + button to add parking space</p>
                <i class="icon">
                    <span class="ion-android-add" style="color:#000;" ng-click="addParkingSpace()"></span>
                </i>
            </ion-item>
        </div>
        <ion-list ng-repeat="parking in parkings track by $index">
            <div class="animated slideInUp" style="margin-bottom:20px;padding-top:20px;padding-bottom:20px;background-color:#fff">
                <ion-item class="item-icon-right app-item white">
                    <h2>Slot No</h2>
                    <p>{{parking.slot_no}}</p>
                    <i class="icon">
                        <span class="ion-compose" style="color:#000;" ng-click="editParkingSpace(parking)"></span>
                        <div class="spacer" style="width: 15px;"></div>
                        <span class="ion-android-delete app-gray-font" style="color:#000;" ng-click="deleteParkingSpace(parking)"></span>
                    </i>
                </ion-item>
                <ion-list >
                    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider" delegate-handle="slider" id="parking-space-slider" style="margin:15px;width:92%;height:200px;">
                        <ion-slide-page ng-repeat="image in parking.images" style="background:url({{image}}) no-repeat center;background-size:cover;"></ion-slide-page>
                    </ion-slides>
                </ion-list>
                <div class="button-bar app-button-bar">
                    <button class="button button-cyan button-block" ng-click="manageImage(parking)" title="Upload Image">
                        <div class="ion-android-camera">
                            <font style="font-size:14px"> Image</font>
                        </div>
                    </button>
                    <div class="separator" style="width:2px;"></div>
                    <button class="button button-cyan button-block" ng-click="setLocation(parking)" title="Set Location">
                        <div class="ion-ios-location">
                            <font style="font-size:14px"> Location</font>
                        </div>
                    </button>
                    <div class="separator" style="width:2px;"></div>
                    <button class="button button-cyan button-block" ng-click="setAvailability(parking)" title="Set Availability">
                        <div class="ion-calendar">
                            <font style="font-size:14px"> Calendar</font>
                        </div>
                    </button>
                </div>
                <div class="app-item-separator black" style="margin-left:15px;margin-right:20px;"></div>
                <ion-item class="app-item white">
                    <h2>Title</h2>
                    <p>{{parking.title}}</p>
                </ion-item>
                <div class="app-item-separator black" style="margin-left:15px;margin-right:20px;"></div>
                <ion-item class="app-item white">
                    <h2>Location</h2>
                    <p>{{parking.location}}</p>
                </ion-item>
                <div class="app-item-separator black" style="margin-left:15px;margin-right:20px;"></div>
                <ion-item class="app-item white">
                    <h2>Rate</h2>
                    <p>{{parking.rate}}</p>
                </ion-item>
                <div class="app-item-separator black" style="margin-left:15px;margin-right:20px;"></div>
                <ion-item class="app-item white">
                    <h2>Description</h2>
                    <p>{{parking.description}}</p>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
<div ng-show="forms.editParking" class="app-form ng-hide">
    <div class="app-form-content animated slideInUp" style="height:90%;">
        <form class="list">
            <div class="spacer" style="height: 10px;"></div>
            <ion-item class="item-icon-right app-item app-item-header">
                <i> {{tempParking.action}} Parking</i>
            </ion-item>
            <div class="spacer" style="height: 20px;"></div>
            <div class="app-item-separator"></div>
            <ion-list>
                <label class="item item-input app-item" name="title">
                    <span class="input-label app-item-span">Title:</span>
                    <input type="text" placeholder="" ng-model="tempParking.title">
                </label>
                <label class="item item-input app-item" name="location">
                    <span class="input-label app-item-span">Location:</span>
                    <input type="text" placeholder="" ng-model="tempParking.location">
                </label>
                <label class="item item-input app-item" name="rate">
                    <span class="input-label app-item-span">Rate:</span>
                    <input type="number" placeholder="" ng-model="tempParking.rate">
                </label>
                <label class="item item-input app-item" name="description">
                    <textarea placeholder="Description" style="height:140px" ng-model="tempParking.description"></textarea>
                </label>
            </ion-list>
            <div class="app-item-separator"></div>
            <div class="button-bar">
                <button class="button button-cyan button-block" ng-click="saveChanges()">
                    Save
                </button>
                <div class="separator" style="width:2px;"></div>
                <button class="button button-cyan button-block" ng-click="discardChanges()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
<div ng-show="forms.manageImage" class="app-form ng-hide">
    <div class="app-form-content animated slideInUp" style="height:75%;">
        <form class="list">
            <ion-item class="item-icon-right app-item app-item-header"  style="padding-left:0;padding-right:0;">
                <div class="app-large-font app-cyan-font">{{tempParking.slot_no}}</div>
                <p> {{tempParking.title}}</p>
                <i class="icon">
                    <span class="ion-close-circled app-xlarge-font app-cyan-font" ng-click="closeManageImage()"></span>
                </i>
            </ion-item>
            <div class="app-item-separator"></div>
            <ion-list >
              <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider" delegate-handle="slider" id="parking-space-slider" style="width:100%;height:200px;">
                <ion-slide-page ng-repeat="image in tempParking.images" style="background:url({{image}}) no-repeat center;background-size:cover;">
                    <!--<div class="black" style="opacity:0.8">
                        <div class="ion-android-delete app-xlarge-font app-white-font" style="padding:5px 10px;text-align:right" ng-click="deleteImage(image)"></div>
                    </div>-->
                </ion-slide-page>
              </ion-slides>
            </ion-list>
            <div class="app-item-separator"></div>
            <div class="button-bar">
                <button class="button button-cyan button-block" ng-click="uploadImage()">
                    Upload New Image
                </button>
            </div>
        </form>
    </div>
</div>
<div ng-show="forms.setAvailableDay" class="calendar ng-hide">
    <div class="calendar-content animated slideInUp">
        <ion-item class="item-icon-right app-item app-item-header">
            <div class="app-large-font app-cyan-font">{{tempParking.slot_no}}</div>
            <p> {{tempParking.title}}</p>
            <i class="icon">
                <span class="ion-close-circled app-xlarge-font app-cyan-font" ng-click="closeCalendar()"></span>
            </i>
        </ion-item>
        <div class="app-item-separator" style="margin:10px;"></div>
        <div class="month">
            <ul>
                <li class="prev" ng-click="prevMonth()">&#10094;</li>
                <li class="next" ng-click="nextMonth()">&#10095;</li>
                <li>
                    {{months[currentMonth]}}<br>
                    <span style="font-size:18px;color:#606060;">
                        {{currentYear}}
                    </span>
                </li>
            </ul>
        </div>
        <ul class="days"> 
            <div class="cyan">
                <div style="padding:0px 10px">
                    <li class="" ng-repeat="wd in weekDays track by $index">
                        <div class="day" style="background-color:#1edfb3;">{{wd}}</div>
                    </li>
                </div>
            </div>
            <div class="white">
                <div style="padding:0px 10px;">
                    <li class="" ng-repeat="bd in blankDays track by $index">
                        <div class="day">{{bd}}</div>
                    </li>
                    <li class="" ng-repeat="nd in numDays track by $index">
                        <div class="day" style="background:{{availDays[$index]}};" ng-click="selectDay(nd)">{{nd}}</div>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>
<div ng-show="forms.setAvailableTime" class="time ng-hide">
    <div class="time-content animated slideInUp" style="height:85%;">
        <ion-item class="item-icon-right app-item app-item-header">
            <div class="app-large-font app-cyan-font">{{tempParking.slot_no}}</div>
            <p> {{tempParking.title}}</p>
            <i class="icon">
                <span class="ion-close-circled app-xlarge-font app-cyan-font" ng-click="cancelAvailability()"></span>
            </i>
        </ion-item>
        <div class="app-item-separator"></div>
        <div class="time-header">
            <ul>
                <li class="prev" ng-click="prevDay()">&#10094;</li>
                <li class="next" ng-click="nextDay()">&#10095;</li>
                <li>
                    <ion-item class="item-icon-right app-item black">
                        <div class="app-large-font app-cyan-font">{{months[currentMonth]}} {{currentDay}}, {{currentYear}}</div>
                        <p> Select available time</p>
                    </ion-item>
                </li>
            </ul>
        </div>
        <div class="time-body">
            <ion-item class="item-icon-right app-item white" style="margin-bottom:5px;padding:5px;">
                <p style="text-align:left;">AM</p>
                <i class="icon">
                    <p ng-click="toggleAllAm()">Toggle All AM</p>
                </i>
            </ion-item>
            <div class="time-num">
                <a ng-repeat="hr in hours track by $index" class="
                    {{tempAvailability.hours[$index].available ? 'active' : (tempAvailability.hours[$index].booked ? 'inactive' : '')}}" ng-click="selectTime($index)">{{hr}}</a>
            </div>
            <ion-item class="item-icon-right app-item white" style="margin-bottom:5px;padding:5px;">
                <p style="text-align:left;">PM</p>
                <i class="icon">
                    <p ng-click="toggleAllPm()">Toggle All PM</p>
                </i>
            </ion-item>
            <div class="time-num">
                <a ng-repeat="hr in hours track by $index" class="
                    {{tempAvailability.hours[$index+12].available ? 'active' : (tempAvailability.hours[$index+12].booked ? 'inactive' : '')}}" ng-click="selectTime($index+12)">{{hr}}</a>
            </div>
        </div>
        <div class="spacer" style="height:10px;"></div>
        <div class="button-bar">
            <button class="button button-cyan button-block" ng-click="saveAvailability()">
                Save
            </button>
        </div>
    </div>
</div>